{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Добавление записи</title>
</head>

<body>
    <div class="container">
        <div class="title">Добавление книги</div>

        <!-- <div class="edit-entry-content"> -->
        <div class="content">
            <form action="{% url 'add_book' %}" method="post">
                {% csrf_token %}
                
                <input class="form-input-field" type="text" name="book_title" placeholder="Название" required>
                <br>
                <input class="form-input-field" type="text" name="book_author" placeholder="Автор" required>
                <br>
                <textarea class="form-input-field" name="book_discription" cols="30" rows="7" placeholder="Описание" required></textarea>
                <br>

                <fieldset class="form-selection-panel">
                    <legend class="form-selection-panel-title">Жанр</legend>
                    {% for book_style in all_book_styles %}
                        <div class="form-selection-panel-item">
                            <input type="checkbox" class="custom-checkbox" name="book_style[]" value="{{book_style}}">
                            <span>{{book_style}}</span>
                        </div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-selection-panel">        
                    <legend class="form-selection-panel-title">Возрастное ограничение</legend>
                    {% for age_ristriction in all_age_ristrictions %}
                        <div class="form-selection-panel-item">
                            <input class="custom-radio" type="radio" name="book_age_restriction" value="{{age_ristriction}}">
                            <span>{{age_ristriction}}</span> 
                        </div>
                    {% endfor %}
                </fieldset>

                
                <input class="form-selection-panel-apply" type="submit" name="save_book" value="Сохранить">
        
            </form>

            <ul class="home-menu">
                <li><a class="home-menu-item" href="{% url 'home' %}">На главную</a></li>
                <li><a class="home-menu-item" href="{% url 'book_list' %}">Все книги</a></li>
            </ul>

        </div>
    
    </div>  <!-- container -->
    
</body>
</html>