<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление записи</title>
</head>
<body>
    <h1>Добавление книги</h1>

    <form action="{% url 'add_book' %}" method="post">
        {% csrf_token %}
        
        <p>
            <label for="book_title">Название</label>
            <input type="text" name="book_title" required>
        </p>

        <p>
            <label for="book_author">Автор</label>
            <input type="text" name="book_author" required>
        </p>

        <p><textarea name="book_discription" cols="30" rows="10" placeholder="Описание" required></textarea></p>

        <label>
            <p>Жанр</p>
            {% for book_style in all_book_styles %}
                <input type="checkbox" name="book_style[]" value="{{book_style}}"><span>{{book_style}}</span><br>
            {% endfor %}
        </label>

        <label>
            <p>Возрастное ограничение</p>
            {% for age_ristriction in all_age_ristrictions %}
                <input type="radio" name="book_age_restriction" value="{{age_ristriction}}"><span>{{age_ristriction}}</span> 
            {% endfor %}
        </label>

        <p><input type="submit" name="save_book" value="Сохранить"></p>

    </form>
    
    <p><a href="{% url 'home' %}">На главную</a></p>
    <p><a href="{% url 'book_list' %}">Все книги</a></p>
    
</body>
</html>