<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр всех записей</title>
</head>
<body>

    <style>
        .book_list {
            display: inline-block;
        }
        .book_filters {
            display: inline-block;
        }
    </style>

    <h1>Все книги</h1>

    <div class="book_list">
        {% if book_list %}
            {% for book in book_list %}
                <fieldset>
                    <legend>{{book.title}} ({{book.author}})</legend>
                    <p>{{book.style}}, {{book.age_restriction}}</p>
                    <p>{{book.discription}}</p>

                    <p><a href="{% url 'edit_book' book.id %}">Редактировать</a></p>
                    <p><a href="{% url 'delete_book' book.id %}">Удалить</a></p>
                
                </fieldset>
            {% endfor %}
        {% else %}    
            <p>Книги не найдены</p>
        {% endif %}
    </div>


    <div class="book_filters">
        <h2>Фильтры</h2>

        <form action="{% url 'book_list' %}" method="post">
            {% csrf_token %}

            <label>
                <p>Жанр</p>
                {% for book_style in all_book_styles %}
                    {% if book_style in selected_book_styles %}
                        <input type="checkbox" name="book_style[]" value="{{book_style}}" checked><span>{{book_style}}</span><br>
                    {% else %}
                        <input type="checkbox" name="book_style[]" value="{{book_style}}"><span>{{book_style}}</span><br>
                    {% endif %}
                {% endfor %}
            </label>
    
            <label>
                <p>Возрастное ограничение</p>
                {% for age_ristriction in all_age_ristrictions %}
                    {% if age_ristriction == selected_age_restriction %}
                        <input type="radio" name="book_age_restriction" value="{{age_ristriction}}" checked><span>{{age_ristriction}}</span> 
                    {% else %}
                        <input type="radio" name="book_age_restriction" value="{{age_ristriction}}"><span>{{age_ristriction}}</span> 
                    {% endif %}
                {% endfor %}
            </label>

            <p><input type="submit" name="apply_filters" value="Применить"></p>
            <p><input type="submit" name="reset" value="Сброс"></p>
        </form>
    </div>

    
    <p><a href="{% url 'home' %}">На главную</a></p>

</body>
</html>