{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Просмотр всех записей</title>
</head>
<body>

    <div class="container">
        <div class="title">Все книги</div>

        <div class="content">
            <table>
                <tr>
                    <td>
                        <div class="book-list">
                            {% if book_list %}
                                {% for book in book_list %}
                                    <div class="book-entry">
                                        <div class="book-title">{{book.title}}</div>
                                        <div class="book-author">({{book.author}})</div>
                                        <div class="book-selection-parameters">{{book.style}}, {{book.age_restriction}}</div>
                                        <div class="book-discription">{{book.discription}}</div>
                                        
                                        <a class="edit-button" href="{% url 'edit_book' book.id %}">Редактировать</a>
                                        <a class="delete-button" href="{% url 'delete_book' book.id %}">Удалить</a>
                                    </div>
                                {% endfor %}
                            {% else %}    
                                <div class="book-entry">
                                    <h1>По вашему запросу ничего не найдено</h1>
                                </div>
                            {% endif %}
                        </div>
                    </td>

                    <td style="vertical-align: top;" >
                        <div class="book-filter">
                            <fieldset class="form-selection-panel">
                                <legend class="form-selection-panel-title">Фильтры</legend>
                                
                                <form action="{% url 'book_list' %}" method="post">
                                    {% csrf_token %}
                        
                                    {% for book_style in all_book_styles %}
                                        <div class="form-selection-panel-item">
                                            {% if book_style in selected_book_styles %}
                                                <input type="checkbox" class="custom-checkbox" name="book_style[]" value="{{book_style}}" checked>
                                            {% else %}
                                                <input type="checkbox" class="custom-checkbox" name="book_style[]" value="{{book_style}}">
                                            {% endif %}
                                            <span>{{book_style}}</span>
                                        </div>
                                    {% endfor %}
                
                                    <div class="book-filter-age-ristrictions">
                                        {% for age_ristriction in all_age_ristrictions %}
                                            {% if age_ristriction == book_for_edit.age_restriction %}
                                                <input type="radio" class="custom-radio" name="book_age_restriction" value="{{age_ristriction}}" checked>
                                            {% else %}
                                                <input type="radio" class="custom-radio" name="book_age_restriction" value="{{age_ristriction}}">
                                            {% endif %}
                                            <span>{{age_ristriction}}</span> 
                                        {% endfor %}
                                    </div>
                
                                    <input class="book-filter-button-apply" type="submit" name="apply_filters" value="Применить">
                                    <input class="book-filter-button-reset" type="submit" name="reset" value="Сброс">
                                </form>
                
                            </fieldset>
                        
                            <div class="button-to-home"><a class="home-menu-item" href="{% url 'home' %}">На главную</a></div>

                        </div>  <!-- book-filter -->
                    </td>
                </tr>
            </table>
    
        </div>  <!-- content -->

    </div>  <!-- container -->

</body>
</html>