{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Редактирование записи</title>
</head>

<body>
    <div class="container">
        <div class="title">Редактирование записи о книге</div>

        <!-- <div class="edit-entry-content"> -->
        <div class="content">
            <form action="{% url 'edit_book' book_for_edit.id %}" method="post">
                {% csrf_token %}
        
                <input class="form-input-field" type="text" name="book_title" value="{{book_for_edit.title}}" required>
                <br>
                <input class="form-input-field" type="text" name="book_author" value="{{book_for_edit.author}}" required>
                <br>
                <textarea class="form-input-field" name="book_discription" cols="30" rows="5" placeholder="Описание" required>{{book_for_edit.discription}}</textarea>
                <br>
        
                <fieldset class="form-selection-panel">
                    <legend class="form-selection-panel-title">Жанр</legend>
                    {% for book_style in all_book_styles %}
                        <div class="form-selection-panel-item">
                            {% if book_style in selected_book_styles %}
                                <input type="checkbox" class="custom-checkbox" name="book_style[]" value="{{book_style}}" checked>
                            {% else %}
                                <input type="checkbox" class="custom-checkbox" name="book_style[]" value="{{book_style}}">
                            {% endif %}
                            <span>{{book_style}}</span>
                        </div>
                    {% endfor %}
                </fieldset>
        
                <fieldset class="form-selection-panel">
                    <legend class="form-selection-panel-title">Возрастное ограничение</legend>
                    {% for age_ristriction in all_age_ristrictions %}
                        <div class="form-selection-panel-item">
                            {% if age_ristriction == book_for_edit.age_restriction %}
                                <input type="radio" class="custom-radio" name="book_age_restriction" value="{{age_ristriction}}" checked>
                            {% else %}
                                <input type="radio" class="custom-radio" name="book_age_restriction" value="{{age_ristriction}}">
                            {% endif %}
                            <span>{{age_ristriction}}</span> 
                        </div>
                    {% endfor %}
                </fieldset>
        
                <input class="form-selection-panel-apply" type="submit" name="edit_book" value="Редактировать">
            </form>
        
            <ul class="home-menu">
                <li><a class="home-menu-item" href="{% url 'home' %}">На главную</a></li>
                <li><a class="home-menu-item" href="{% url 'book_list' %}">Все книги</a></li>
            </ul>

        </div>  <!-- content -->

    </div>   <!-- container -->
    
</body>
</html>
