<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test_project</title>
</head>

<body>    

    <table border='1'>
        <caption><b>Список сотрудников</b></caption>
        {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.second_name}}</td>
                <td>
                    {% if i.salary > 20000 %}    
                        <b style="color:green;">{{i.salary}}</b>
                    {% else %}
                        <b style="color:red;">{{i.salary}}</b>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>


</body>

</html>